@model GiftsSystem.Web.ViewModels.User.DetailsUserViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <h4>@Model.UserName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.ImageId)
            
        </dt>
        <dd>
           @if (Model.ImageId != null)
           {
            <img src="@Url.Action("Image", "User", new { id = Model.ImageId.Value })" alt="@Model.UserName" class="img-responsive" />
           }
        </dd>

        <dt>
            @Html.LabelFor(model => model.GiftsCollections)
        </dt>
        <dd>
            @if (Model.GiftsCollections != null)
            {
                foreach (var gisftsList in Model.GiftsCollections)
                {
                    <h5>@gisftsList.Name</h5>
                    <ul class="list-group">
                        @foreach (var product in gisftsList.Products)
                        {
                            <li class="list-group-item">
                                @product.Name
                            </li>
                        }
                    </ul>
                }
            }
           
        </dd>
    </dl>
</div>
<div class="row panel">
    <div class="panel-body">
        @Html.ActionLink("EditProfile", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" })
    </div>
    @*<div class="panel-body">
        @Html.ActionLink("EditCollections", "Edit", "GiftsList", Model.GiftsCollections, new { @class = "btn btn-info" })
    </div>*@
    <div class="panel-body">
        @Html.ActionLink("CreateCollections", "Create", "GiftsList", Model.GiftsCollections, new { @class = "btn btn-info" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("DeleteCollections", "Delete", "GiftsList", Model.GiftsCollections, new { @class = "btn btn-info" })
    </div>

</div>
