@model Dictionary<GiftsSystem.Models.Category, List<GiftsSystem.Models.Category>>
@using System.Collections.Generic;
@using GiftsSystem.Web.ViewModels.Home;
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <ul class="nav nav-tabs">
        @foreach (var category in Model)
        {
            <li>
                <a href="#@category.Key.Name" data-toggle="tab">@category.Key.Name</a>
            </li>
        }
    </ul>
    <div id="myTabContent" class="col-md-8 tab-content">
        @foreach (var category in Model)
        {
            <div class="tab-pane fade" id="@category.Key.Name">
                <div class="row">
                    @category.Key.Description
                    <div class="col-md-4">
                        <ul class="nav nav-pills nav-stacked" style="width:100px;display:inline">
                            @foreach (var subCategory in category.Value)
                            {
                                <li role="presentation" style="width:100px">
                                    <a href="@string.Format("Category/Details/{0}",subCategory.ID)">
                                        @subCategory.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <a href=@string.Format("Category/Details/{0}",category.Key.ID)><img src="~/Images/Home.jpg" /></a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>

@(Html.Kendo()
    .ListView<ListCategoryViewModels>()
    .TagName("div")
    .Name("all-tickets")
    .Pageable()
    .ClientTemplateId("all-tickets-template")
    .DataSource(dataSource =>
    {
        dataSource
            .ServerOperation(true)
            .PageSize(15)
            .Read(read => read.Action("ReadCategory", "Home" ));
    }))


<script type="text/x-kendo-tmpl" id="all-tickets-template">
    <div class="row">
        <div class="col-md-3">
            <h3>#= Name #</h3>
        </div>
        <div class="col-md-4">
            <p>#= Description #</p>
        </div>
        <div class="col-md-4">
            <p>#= Description #</p>
        </div>        
    </div>
</script>

