@model Dictionary<GiftsSystem.Models.Category, List<GiftsSystem.Models.Category>>
@using System.Collections.Generic;
@using GiftsSystem.Web.ViewModels.Home;
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <ul class="nav nav-tabs">
        @foreach (var category in Model)
        {
            <li>
                <a href="#@category.Key.Name" data-toggle="tab" class="big-text">@category.Key.Name</a>
            </li>           
        }
    </ul>
    <div id="myTabContent" class="col-md-8 tab-content">
        @foreach (var category in Model)
        {
            <div class="tab-pane fade" id="@category.Key.Name">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="nav nav-pills nav-stacked" style="width:100px;display:inline">
                            @foreach (var subCategory in category.Value)
                            {
                                <li role="presentation" style="width:100px">
                                    <a href="@string.Format("Category/Details/{0}",subCategory.ID)">
                                        @subCategory.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <a href=@string.Format("Category/Details/{0}",category.Key.ID)><img src="~/Images/start.jpg" style="width:400px;height:200px;" /></a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>

@(Html.Kendo()
    .ListView<ListCategoryViewModels>()
    .TagName("div")
    .Name("all-tickets")
    .ClientTemplateId("all-tickets-template")
    .DataSource(dataSource =>
    {
        dataSource
            .ServerOperation(true)
            .Read(read => read.Action("ReadCategory", "Home"));
    }))


<script type="text/x-kendo-tmpl" id="all-tickets-template">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title text-center">#= Name #</h1>
        </div>
        <div class="panel-body text-center">           
             #= Description #
        </div>
    </div>      
</script>

