@model Dictionary<GiftsSystem.Models.Category, List<GiftsSystem.Models.Category>>
@using System.Collections.Generic;
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <ul class="nav nav-tabs">
        @foreach (var category in Model)
        {
            //if (category.Value.Count == 0)
            //{
            <li>
                <a href="#@category.Key.Name" data-toggle="tab">@category.Key.Name</a>
            </li>
            @*}
                else
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @category.Key.Name <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var subCategory in category.Value)
                            {
                                <li>
                                    <a href="#@subCategory.Name" data-toggle="tab">@subCategory.Name</a>
                                </li>
                                <li class="divider"></li>
                            }
                        </ul>
                    </li>


                }*@
        }
    </ul>
    <div id="myTabContent" class="col-md-8 tab-content">
        @foreach (var category in Model)
        {
            //if (category.Value.Count == 0)
            //{
            <div class="tab-pane fade" id="@category.Key.Name">
                <div class="row">
                    @category.Key.Description
                    <div class="col-md-4">
                        <ul class="nav nav-pills nav-stacked" style="width:100px;display:inline">
                            @foreach (var subCategory in category.Value)
                            {
                                <li role="presentation" style="width:100px">
                                    <a href="@string.Format("Category/Details/{0}",subCategory.ID)">
                                        @subCategory.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <a href=@string.Format("Category/Details/{0}",category.Key.ID)><img src="~/Images/Home.jpg" /></a>
                    </div>

                </div>
            </div>
            @*}
                else
                {
                    foreach (var subCategory in category.Value)
                    {
                        <div class="tab-pane fade" id="@subCategory.Name">
                            <p>@subCategory.Description</p>
                        </div>
                    }
                }*@
        }
    </div>
</div>
