@model GiftsSystem.Web.ViewModels.Category.CreateCategoryViewModel
@using System.Collections
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <fieldset>
        <legend>Create Category</legend>
        @Html.EditorFor(model=>model.Name)
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Description)
            </div>
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ParentCategoryId,new {@class="col-lg-2 control-label"})
            <div class="col-lg-10">
              @Html.DropDownListFor(model => model.ParentCategoryId, Model.ParentCategories, new { @class = "form-control", name = "ParentCategoryName" })              
            </div>
        </div>
        <div class="form-group">
            <label class = "col-lg-2 control-label">Image</label>
            <div class="col-lg-10">
                <input name="UploadedImage" type="file" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
}