@model GiftsSystem.Web.ViewModels.Category.DetailsCategoryViewModel
@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h1>@Model.Name</h1> 
       
    @Html.Raw(Model.Description)

    @if (Model.ImageId != null)
    {
        <img src="@Url.Action("Image", "Category", new { id = Model.ImageId.Value })" alt="@Model.Name" class="img-responsive" />
    }    
   
    <p><a href="@string.Format("/Category/Edit/{0}",Model.Name)" class="btn btn-primary btn-lg">Edit category</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            @foreach (var product in Model.Products)
            {
                <li role="presentation"><a href="@string.Format("/Product/Details/{0}",product.ID)">
                    @product.Name</a></li>
            }
           
        </ul>
    </div>
</div>

