@model GiftsSystem.Web.ViewModels.Category.EditCategoryViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <fieldset>
        <legend>@ViewBag.Title</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Name, new { placeholder = "Name", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Description)
            </div>
        </div>
        <div class ="form-group">
            @Html.LabelFor(model => model.Products, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.ActionLink("Add Products", "Create", "Product", new { categoryName = Model.Name }, new { @class = "btn btn-primary" })
            </div>
        </div>
        @Html.Partial("Product/Create", new { categoryName=Model.Name})
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
}

